{
    "presets": [
        ["@babel/preset-env", 
        {
            "modules": false,
            "targets": {
                "firefox": "15",
                "chrome": "67"
              },
              "useBuiltIns": "usage",
              "debug": true
        }]
    ]
}